html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f3f5;
}

#scrolling-container {
  display: flex;
  width: max-content;
  animation: scrollText 40s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}